.popup-container {
  height: 50px;
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border: 1px solid black;
}

.popup-img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.close-btn:hover {
  cursor: pointer;
}

.popup-text {
  font-size: 20px;
  font-style: italic;
  margin-left: 20px;
  margin-right: 20px;
}
