.user-information {
  background-color: #ececec;
  margin-bottom: 20px;
  width: 100%;
  min-height: 668px;
  max-height: 668px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, auto);
}

.user-information .response-box {
  padding: 20px;
  height: fit-content;
}

.user-information .response-title {
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 15px;
}

.user-information .response-body {
  background-color: white;
  min-height: 45px;
  max-height: 45px;
  border-left: 15px solid white;
  border-right: 15px solid white;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.user-information .response-body::-webkit-scrollbar {
  display: none;
}

.user-information .response-text-lg {
  white-space: nowrap;
}

.user-information .response-subtext {
  position: absolute;
  right: 10px;
  bottom: -10px;
  font-weight: 200;
  font-size: 12px;
  color: #8a8a8a;
}

.user-information .occupation {
  grid-column: 1/2;
  grid-row: 1/2;
}

.user-information .education {
  grid-column: 2/3;
  grid-row: 1/2;
}

.user-information .phone {
  grid-column: 1/2;
  grid-row: 2/3;
}

.user-information .email {
  grid-column: 2/3;
  grid-row: 2/3;
}

.user-information .address {
  grid-column: 1/3;
  grid-row: 3/4;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 0.user-information .5fr repeat(4, 1fr);
  row-gap: 10px;
}

.user-information .address-title {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 0px;
}

.user-information .address1 {
  grid-column: 1/3;
  grid-row: 2/3;
  position: relative;
}

.user-information .address2 {
  grid-column: 1/3;
  grid-row: 3/4;
  position: relative;
}

.user-information .city {
  grid-column: 1/2;
  grid-row: 4/5;
  margin-right: 10px;
  position: relative;
}

.user-information .state {
  grid-column: 2/3;
  grid-row: 4/5;
  margin-left: 10px;
  position: relative;
}
.user-information .zip-code {
  grid-column: 1/3;
  grid-row: 5/6;
  position: relative;
}

.user-information .background-check {
  grid-column: 1/3;
  grid-row: 4/5;
}
