.login-page{
  width: 100%;
  height: 100vh;

  font-family: 'Rubik';
  display: flex;
 

}

/* Left Side */
.login-page-left {
  color: white;
  /* background-color: blue; */
  background: url('bg.jpg') no-repeat center ;;
  background-size: cover;
  width: 55%;
  border-radius: 0 50px 50px 0;
  
  
}
.login-welcome {

  margin: 10% auto;
  padding: 80px 0;

  font-size: 1.5rem;
  text-align: center;
  width: 80%;

}

/* Right Side */
.login-page-right {

  width: 45%;
  margin: 0 auto;
}
.login-form {
  width: 60%;
  margin: 24% auto;
}

.login-form > * {
  margin-bottom: 20px;
}