.login-page{
  width: 100%;
  height: 100vh;

  font-family: 'SF Pro Display', sans-serif;
  display: flex;
 

}

/* Left Side */
.login-page-left {
  color: white;
  background: url('bg.jpg') no-repeat center ;;
  background-size: cover;
  min-width: 55%;
  border-radius: 0 50px 50px 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.login-welcome {

  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
  width: 80%;

}

.login-welcome h1 {
  font-size: 8rem;
  margin: 0;
}

/* Right Side */
.login-page-right {
  width: 45%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-logo {
  max-width: 80%;
}




.login-form {
  width: 60%;
  margin: 30px auto;
}

.login-form > * {
  margin-bottom: 50px;
}

@media only screen and (max-width: 1200px) {
  .login-page-left {
    display: none;
    
  }
  .login-page-right {
    width: 100%;
    
  }
}