.applicant-tile {
  background-color: #f4f4f4;
  min-height: 90px;
  max-height: 90px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  transition: 300ms all;
}

.applicant-tile:hover {
  background-color: #ececec;
  cursor: pointer;
}

.applicant-tile-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.applicant-name {
  color: #10275b;
  font-size: 1.5rem;
  width: 500px;
  overflow: auto;
  white-space: nowrap;
  margin-left: 30px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.applicant-name::-webkit-scrollbar {
  display: none;
}

.arrow {
  width: 34px;
  height: 34px;
}
