.mentor-profile-form {
  height: 90%;
  overflow-y: scroll;
  margin: 25px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, auto);
}

.mentor-profile-form * {
  border-radius: 0.5em;
}

.mentor-profile-form .response-box {
  padding: 10px;
  height: fit-content;
}

.mentor-profile-form .response-title {
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 15px;
}

.mentor-profile-form .response-body {
  background-color: white;
  min-height: 45px;
  max-height: 45px;
  border-left: 15px solid white;
  border-right: 15px solid white;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mentor-profile-form .response-body::-webkit-scrollbar {
  display: none;
}

.mentor-profile-form .response-text-lg {
  white-space: nowrap;
}

.mentor-profile-form .response-subtext {
  position: absolute;
  right: 10px;
  bottom: -10px;
  font-weight: 200;
  font-size: 12px;
  color: #8a8a8a;
}

.mentor-profile-form .occupation {
  grid-column: 1/2;
  grid-row: 1/2;
}

.mentor-profile-form .education {
  grid-column: 2/3;
  grid-row: 1/2;
}

.mentor-profile-form .phone {
  grid-column: 1/2;
  grid-row: 2/3;
}

.mentor-profile-form .email {
  grid-column: 2/3;
  grid-row: 2/3;
}

.mentor-profile-form .address {
  grid-column: 1/3;
  grid-row: 3/4;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 0.5fr repeat(4, 1fr);
  row-gap: 10px;
}

.mentor-profile-form .address-title {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 0px;
}

.mentor-profile-form .address1 {
  grid-column: 1/3;
  grid-row: 2/3;
  position: relative;
}

.mentor-profile-form .address2 {
  grid-column: 1/3;
  grid-row: 3/4;
  position: relative;
}

.mentor-profile-form .city {
  grid-column: 1/2;
  grid-row: 4/5;
  margin-right: 10px;
  position: relative;
}

.mentor-profile-form .state {
  grid-column: 2/3;
  grid-row: 4/5;
  margin-left: 10px;
  position: relative;
}
.mentor-profile-form .zip-code {
  grid-column: 1/3;
  grid-row: 5/6;
  position: relative;
}

.mentor-profile-form .background-check {
  grid-column: 1/3;
  grid-row: 4/5;
}
