.login-page {
  width: 100%;
  height: 100vh;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
}

/* Left Side */
.login-page-left {
  color: white;
  background: url("./assets/bg.jpg") no-repeat center;
  background-size: cover;
  min-width: 50%;
  border-radius: 0 50px 50px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-welcome {
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
  width: 85%;
}

.login-welcome h1 {
  font-size: 8rem;
  font-weight: bold;
  margin: 0;
}

.login-welcome h4 {
  font-weight: 500;
}

.login-welcome hr {
  margin: 0 1.5em;
  border: 2px solid white;
}

/* Right Side */
.login-page-right {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-logo {
  max-width: 80%;
}

.login-form {
  width: 60%;
  margin: 30px auto;
  max-width: 400px;
}

.login-form > * {
  margin-bottom: 50px;
}

.login-form > button {
  margin-bottom: 20px;
}

.login-errors {
  padding: 1rem;
  margin-top: 20px;
  min-height: 1.083rem;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
}

@media only screen and (max-width: 1200px) {
  .login-page-left {
    display: none;
  }
  .login-page-right {
    width: 100%;
  }

  .login-form {
    width: 80%;
  }
}
