.user-background-check {
  background-color: #ececec;
  margin-bottom: 20px;
  width: 100%;
  min-height: 668px;
  max-height: 668px;
  display: grid;
  grid-template-rows: repeat(11, auto);
  grid-template-columns: 50% 50%;

  overflow-y: auto;
}
.bg-check-exempt {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: white;
  display: flex;
  align-items: center;
  margin: 20px;
  font-size: 20px;
}

.bg-check-exempt > img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.bg-check-results {
  grid-column: 1/3;

  background-color: white;
  display: flex;
  margin: 20px;
  flex-direction: column;
}

.bg-check-results-header > h1 {
  font-size: 24px;
  font-weight: bold;
}

.bg-check-results-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.bg-check-results-body {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.bg-check-results-tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0px;
}

.bg-check-results-tile > img {
  width: 16px;
  height: 20px;
  margin-right: 20px;
}

.phone-reference1 {
  grid-column: 1/2;
}

.email-reference1 {
  grid-column: 2/3;
}

.phone-reference2 {
  grid-column: 1/2;
}

.email-reference2 {
  grid-column: 2/3;
}

.phone-reference3 {
  grid-column: 1/2;
}

.email-reference3 {
  grid-column: 2/3;
}

.address-background-check {
  grid-column: 1/3;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 0.5fr repeat(4, 1fr);
  row-gap: 10px;
}
