.profile-content {
  /* height: ; */
}

.profile-content-tab-container{
  font-family: 'SF Pro Display', sans-serif;
  display: flex;
  justify-content: space-between;
}

.profile-content-tab{
  font-family: 'SF Pro Display', sans-serif;
  flex: 1;
  border: none;
  padding: 5px;
  border: none;
  font-size: 1.4rem;
  text-align: left;
  padding: 0;
  background-color: transparent;
}

.profile-content-tab span {
  cursor: pointer;
}

.profile-content-body {
  border-radius: 20px;
  background-color: rgb(180, 180, 180);
  height: 75vh;
  padding: 10px 30px

}