.training {
    background-color: #ececec;
    margin-bottom: 20px;
    width: 100%;
    min-height: 668px;
    max-height: 668px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

.thinkific-gif {
  width: 1000px;
  height: auto
}

.training-button-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.training-button {
    background-color: #091734;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 2.5em;
    font-size: 2.25em;
}

.training-button:hover {
  filter: brightness(1.2);
}

.click-text {
  font-size: 1.5em;
}