.applicant-profile {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
}

/* Close Button */
.applicant-profile 
.exit-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 53px;
  height: 53px;
}
.applicant-profile 
.exit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Header */
.applicant-profile 
.profile-header {
  color: #10275b;
  display: flex;
  justify-content: space-between;
  width: 85%;
}
/* Header -> Applicant Name and Stage */
.applicant-profile 
.profile-header 
.profile-header-left {
  display: flex;
  align-items: center;
  gap: 2.5em;
}

.profile-header .profile-header-left .name {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
  max-width: 350px;
  white-space: nowrap;
  padding-bottom: 2px;
  overflow-x: scroll;
}
.profile-header .profile-header-left .name::-webkit-scrollbar {
  height: 10px;
}

/* Header -> NextStage/Accept and Reject */
.profile-header 
.profile-header-right {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.profile-header 
.profile-header-right 
.button {
  width: 8em;
  height: 2.25em;
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  border: none;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

.profile-header .profile-header-right .button > img {
  width: 1.5em;
}

.profile-header .profile-header-right .accept {
  background-color: #117a54;
  transition: all 300ms;
}
.profile-header .profile-header-right .reject {
  background-color: #f44250;
  transition: all 300ms;
}

.profile-header .profile-header-right .accept:hover {
  background-color: #0c6846;
  cursor: pointer;
}
.profile-header .profile-header-right .reject:hover {
  background-color: #d03945;
  cursor: pointer;
}

/* Tabs */
.applicant-profile
.profile-tabs {
  color: #10275b;
  margin-top: 2em;
  /* border: 1px solid red; */
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.profile-tabs .tab-title.selected:hover {
  cursor: default;
}
.profile-tabs .tab-title:not(.selected):hover {
  cursor: pointer;
  /* filter: brightness(1.2); */
  background-color: #e8f0ff;
  border-radius: 5px;
}

.profile-tabs .tab-title {
  font-size: 1.5em;
  padding: 0.25em 1em;
}

.profile-tabs .selected {
  /* padding-bottom: 5px; */
  /* border-bottom: 2px solid #10275b; */
  /* background-color: #bed2fd; */
  background-color: #d6e2ff;
  border-radius: 5px;
  padding: 0.25em 1em;
}
