.settings {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: white;
}

.settings > hr {
  color: "#BABABA";
}

.settings-container {
  background-color: #f4f4f4;
  display: flex;
  flex: 1;
  justify-content: center;
}

.settings-content {
  padding: 32px;
  padding-top: 16px;
  min-width: 1120px;
  max-width: 1120px;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.settings-content::-webkit-scrollbar {
  display: none;
}

.settings-title {
  color: #10275b;
  font-size: 40px;
  font-weight: bold;
}

.settings-box {
  background-color: white;
  padding: 20px;
  padding-top: 0px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.settings-box > h2 {
  font-weight: bold;
  font-size: 24px;
}

.settings-box > .main {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.settings-box > .main > .two {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.error {
  color: red;
}
