.logs-reports-square {
    background-color: white;
    border-radius: 15px;
    height:250px;
    width: 350px;
    margin: 10px;
    transition: 300ms all;
  }
  
  .logs-reports-square:hover {
    background-color: #f4f4f4;
    cursor: pointer;
  }
  
  .logs-reports-title {
    color: black;
    display: block;
    font-size: 22px;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 2em;
  }

  .logs-reports-text {
    color: black;
    margin-top: 60px;
    margin-left: 1.5em;
    margin-right: 1.5em
  }
  
  