.logs-reports-square {
    background-color: #f4f4f4;
    border-radius: 15px;
    height:250px;
    width: 350px;
    margin: 10px;
    transition: 300ms all;
    background-color: lightBlue;
  }
  
  .logs-reports-square:hover {
    background-color: hsl(0, 0%, 98%);
    cursor: pointer;
  }
  
  .logs-reports-title {
    color: black;
    display: block;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 2em;
  }

  .logs-reports-text {
    color: black;
    margin-top: 60px;
    margin-left: 2em;
  }
  
  