.training-progress-bar {
  height: 2em;
  width: 40em;
  border-radius: 15px;
  border: 1px solid #0e204d;
}

.bar-filled {
  min-width: 6%;
  background-color: #0e204d;
  height: 100%;
  border-radius: 14px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.bar-filled p {
  margin-right: 0.5em;
}