.trainee-home {
  background-color: #f4f4f4;
  color: #10275b;
  height: 100vh;
  width: 85%;
  flex-grow: 1;
}

.trainee-home .wrapper {
  display: flex;
  flex: 1 1;
  justify-content: center;
}

.trainee-home .wrapper .header-wrapper {
  padding-top: 5px;
  width: 99%;
  height:10%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trainee-home .wrapper .trainee-landing {
  padding: 32px;
  padding-top: 16px;
}

.training-btn-wrapper {
  display: flex;
  justify-content: center;
}

.thinkific-gif {
  height: auto;
  justify-content: center;
  display: flex;
}
.thinkific-gif-img {
  width: 70%;
  height: auto;
}
.finished-training-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
.progress-bar-wrapper {
  margin: 2em 0em;
  display: flex;
  justify-content: center;
}
.first-time-msg {
  background-color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  margin: 2%;
  font-weight: bold;
}
.training-btn-finished {
  background-color: #7b7b7b;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5em 1.5em;
  font-size: 1.2em;
}
.training-btn {
  background-color: #0e204d;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5em 1.5em;
  font-size: 1.2em;
}
.training-btn:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
.heading-wrapper {
  display: flex;
  justify-content: space-between;
}