.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: large;
  font-weight: 500;
  width: 14em;
  margin-top: 5em;
  margin-bottom: 2em;
}

.sidebar .logout-btn {
  margin-top: auto;
}