/*
.sidebar-tile:first-child {
  margin-top: 5em;
}
.sidebar-tile {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 35px 0 0 35px;
  margin-left: 1.25em;
  font-size: large;
  font-weight:500;
  color:#10275b;
  border: 1px solid white;
}
.sidebar-tile span {
  display: flex;
  justify-content: flex-start;
}
.sidebar-tile span:hover {
  border: dotted 1px solid red;
}
.sidebar-tile.selected {
  background-color: #10275b;
  border: 1px solid #10275b;
  color: white;
}
.sidebar-tile:hover {
  cursor: pointer;
}

.sidebar-tile:hover:not(.selected) {
  background-color: #f4f4f4;
}
.sidebar-tile .logout-btn {
  justify-self: flex-end;
}

*/
.sidebar-tile {
  display: flex;
  gap: 1em;
  padding: 1em;
  align-items: center;
  color: #10275b;
  border-radius: 40px 0 0 40px;
  margin-left: 20px;
}
.sidebar-tile:hover:not(.selected) {
  /* background-color: #f4f4f4; */
  background-color: hsl(222, 70%, 97%);
  cursor: pointer;
}
.sidebar-tile.selected {
  background-color: #10275b;
  color:white;
}

.sidebar-tile .img-wrapper {
  display: flex;
  justify-content: center;
  width: 60px;

}