.mentor-home {
  background-color: #f4f4f4;
  color: #10275b;
  height: 100vh;
  width: 85%;
  flex-grow: 1;
}

.mentor-home .wrapper {
  margin-left: 20px;
  height: 100%;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.25em;
}
.mentor-home .wrapper .header-wrapper {
  padding-top: 5px;
  width: 99%;
  height:10%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mentoring-img {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 2em 0;
  width: 900px;
}

.mentoring-btn-wrapper {
  display: flex;
  justify-content: center;
}
.mentoring-btn {
  background-color: #0e204d;
  color: white;
  border: none;
  height: auto;
  border-radius: 15px;
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  font-weight: 500;
}
.mentoring-btn:hover {
  cursor: pointer;
  filter: brightness(1.2);
}