.mentoring-resources {
  width: 100%;
}

.mentoring-resources .header-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}
.mentoring-resources .resources {
  margin: 10px 20px;
  height: 85vh;
  overflow-y: scroll;
}
.mentoring-resources 
.resources 
.resource-card {
  border-radius: 10px;
  border-width: 4px;
  border-style: solid;
  margin: 10px;
  padding: 10px;
  background-color: white;
}

.mentoring-resources 
.resources 
.resource-btn {
  border-radius: 12px;
  border: none;
  padding: 3px 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
}
.mentoring-resources 
.resources 
.resource-btn img {
  width: 1.5em;
}
.mentoring-resources 
.resources a {
  text-decoration: none;
}
.mentoring-resources 
.resources 
.resource-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}