.mentor-profile {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Exit button */
.mentor-profile .exit-btn {
  position: absolute;
  top: 2em;
  right: 1em;
  width: 3em;
  height: 3em;
}
  
.mentor-profile .exit-btn:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.mentor-profile .mentor-profile-container {
  margin: 0 5em;
  height: 90vh;
}

/* Mentor Name */
.mentor-profile .mentor-name {
  color: #10275b;
  font-size: 2.5em;
  margin: 0;
  margin-top: 1em;
}
  
/* Tabs: Your Profile, Mentee Profile, Logs & Reports */
.mentor-profile .mentor-profile-tabs {
  display: flex;
  margin-left: 1.5em;
}
  
.mentor-profile .mentor-profile-tabs .tab-title {
  margin: 2em 4em 1em 0;
  font-size: 1.2em;
}

.mentor-profile .mentor-profile-tabs .tab-title:hover {
  cursor: pointer;
}
  
.mentor-profile .mentor-profile-tabs .selected {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

/* Container for tab contents */
.mentor-profile .tab-content-wrapper {
  background-color: #ececec;
  border-radius: 1.5em;
  height: 80%;
  border: 1px solid #ececec;/* Not sure why this is necessary. Have never seen such weirdness in all my time working with CSS. */
  position: relative;
}