.trainee-profile {
    background-color: #ececec;
    margin-bottom: 20px;
    width: 100%;
    min-height: 668px;
    max-height: 668px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, auto);
  }
  
  .response-box {
    padding: 20px;
    height: fit-content;
  }
  
  .response-title {
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 15px;
  }
  
  .response-body {
    background-color: white;
    min-height: 45px;
    max-height: 45px;
    border-left: 15px solid white;
    border-right: 15px solid white;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
  
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .response-body::-webkit-scrollbar {
    display: none;
  }
  
  .response-text-lg {
    white-space: nowrap;
  }
  
  .response-subtext {
    position: absolute;
    right: 10px;
    bottom: -10px;
    font-weight: 200;
    font-size: 12px;
    color: #8a8a8a;
  }
  
  .occupation {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .education {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  
  .phone {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  .email {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  .address {
    grid-column: 1/3;
    grid-row: 3/4;
  
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.5fr repeat(4, 1fr);
    row-gap: 10px;
  }
  
  .address-title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0px;
  }
  
  .address1 {
    grid-column: 1/3;
    grid-row: 2/3;
    position: relative;
  }
  
  .address2 {
    grid-column: 1/3;
    grid-row: 3/4;
    position: relative;
  }
  
  .city {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-right: 10px;
    position: relative;
  }
  
  .state {
    grid-column: 2/3;
    grid-row: 4/5;
    margin-left: 10px;
    position: relative;
  }
  .zip-code {
    grid-column: 1/3;
    grid-row: 5/6;
    position: relative;
  }
  
  .background-check {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  