  .mentee-content {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-radius: 1em;
    background-color: #ececec;
    border: 2px solid #c4c4c4;
    padding: 20px;
    margin: 50px;
  }
  
  /* Exit button */
  .mentee-content .exit-btn {
    position: absolute;
    top: 4em;
    right: 4em;
    width: 3em;
    height: 3em;
  }
    
  .mentee-content .exit-btn:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }
  
  .mentee-content .mentee-name {
    margin-left: 5px;
  }
  
  .mentee-content  * {
    border-radius: 0.5em;
  }
  
  .mentee-content .mentee-info-response-box {
    /* border: 1px solid red; */
  }
  
  .mentee-content .mentee-info-response-box {
    padding: 7px;
    height: fit-content;
  }
  
  .mentee-content .mentee-info-response-title {
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 15px;
  }
  
  .mentee-content .phone-age-grade {
    display: flex;
  }
  .mentee-content .phone-age-grade > * {
    width: 33%; /* wat */
  }
  
  .mentee-content .response-subtext {
    position: absolute;
    right: 10px;
    bottom: -10px;
    font-weight: 200;
    font-size: 12px;
    color: #8a8a8a;
  }
  
  .mentee-content .mentee-info-response-body {
    background-color: white;
    min-height: 45px;
    max-height: 45px;
    border-left: 15px solid white;
    border-right: 15px solid white;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
  
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }