.filter-button {
  width: 250px;
  max-height: 143px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 23px;
  transition: 300ms filter linear;
}

.filter-button-selected {
  filter: drop-shadow(0px 1.2rem 10px #c4c4c4);
}

.filter-button:hover {
  cursor: pointer;
  filter: drop-shadow(0px 1.2rem 10px #c4c4c4);
  transition: 300ms filter linear;
}

.filter-text {
  margin-left: 2rem;
  margin-top: 0px;
  font-weight: 400;
}

.filter-image {
  width: 52px;
  height: 42px;
  margin-right: 2rem;
}

.filter-head {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2rem;
}
